/*Card*/
.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px solid #CFD2DC;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 10px;
    color: #636363;
    margin: 25px;
    cursor: pointer;
}

/*Card Hover Style*/
.card:hover{
    background-color: #F2F2F2;
}

/*Read Card*/
.read {
    background-color: #F2F2F2;
}

/*Card avatar*/
.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #E54065;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Paragraph in avatar*/
.avatar p {
    color: #FFFFFF;
    font-size: 1.5rem;
}

/*Card Header Paragraphs*/
.cardHeader p {
    margin: 4px 0px;
}

/*Card Description*/
.cardDescription {
    margin: 8px 0px;
}

/*Card Footer*/
.cardFooter {
    display: flex;
}

/*Dates Section in Card Footer*/
.dateSection {
    display: flex;
}

/*Card Footer Paragraphs*/
.dateSection p {
    margin-right: 6px;
}



/*Favorite Tag*/
.tag {
    margin: 0px 10px;
    color: #E54065;
}

@media screen and (max-width: 450px){
    .card{
        margin: 15px 5px;
    }
  }